# Backend API URL
EXPO_PUBLIC_BACKEND_URL=http://localhost:3001

# Google OAuth Client ID (Web client pour le proxy Expo)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id

# Utiliser le proxy Expo (true pour développement, false pour production)
EXPO_PUBLIC_USE_PROXY=true

